@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; font-size:12px;}
h1,h2,h3{font-weight:normal; margin:0; padding:0;}
body{ font-family:"宋体"; font-size:12px; margin:auto; color:#333; background:url(../images/top_bg.gif) repeat-x;}
img{vertical-align:middle; border:0;}
ul,li{ list-style:none; margin:0; padding:0;}
a,a:link,a:visited{ color:#676565; text-decoration:none}
a:hover{ color:#59A539;}
.top{ width:960px; margin:0 auto; height:525px; background:url(../images/top_bg.gif) no-repeat;*margin-bottom:15px;position: relative;}
.logo{ width:160px; height:103px;  float:left;}
.logo img{margin-top: 10px}
.title {width: 500px;height: 103px;float: left;}
.title img{margin-top: 20px;margin-left: 90px}
.service {position: absolute;right: 0px;top: 73px;background: url(../images/service.gif) no-repeat;width: 221px;height: 26px}
.search{ float:right; margin-top:45px;}
.search-keyword{ background:url(../images/sear.jpg) no-repeat; width:177px; height:22px; border:none; float:left; padding-left:20px; color:#999; line-height:22px;}
.search-keyword2{ background:url(../images/sear.jpg) no-repeat; width:147px; height:22px; border:none; float:left; padding-left:20px; color:#999; line-height:22px; margin-left:10px;}
.search-submit{ background:url(../images/btn.jpg) no-repeat; width:24px; height:22px; border:none; float:left;}
.menu{height:52px; width:960px; margin:0 auto; background:url(../images/menu.jpg); float:left;}
.menu ul{ margin-top:3px;}
.menu ul li{ float:left; line-height:39px;width:105px; text-align:center;}
.menu ul li a{ font-family:"微软雅黑"; font-size:15px; color:#fff; display:block;}
.menu .nav_x{ width:1px; height:39px; background:url(../images/nav_x.jpg) no-repeat;}
.menu ul li a:hover, .menu ul li.hover a { background:url(../images/nav2.jpg) no-repeat; text-decoration: none; color:#CCC;}
.menu ul li a:link,.menu ul li a:visited{ color:#fff;}
.flash{ width:960px; height:370px; float:left; margin:0 auto; margin-bottom:15px;}
.sycont{ margin:0 auto; width:960px; padding-top:15px;*padding-top:0px;}
.sy_sp{ float:left; width:241px; height:226px;}
.sy_sp div{ padding-top:10px;}
.syxw{ width:461px; height:226px; float:left; overflow:hidden; margin-left:18px; display:inline;}
.syxw ul{ padding-top:4px; width:450px;}
.syxw ul li{ line-height:27px;background: url('../images/tb.gif') no-repeat left center; padding-left:12px;}
.syxw ul li span{ float:right;}
.newstop{ margin-top:12px; height:90px; overflow:hidden;}
.newstop img{ float:left; padding:4px; border:1px solid #d9dbda;}
.newstop h2{ font-size:14px; color:#F00; font-weight:bold; height:25px;}
.newstop h2 a{ font-size:14px;}
.newstop div{ margin-left:5px; float:left; width:340px; line-height:29px;}
.sales{ float:left; width:221px; height:226px; margin-left:19px;}
.sales div{ padding-top:14px;}
.ny_l1{ float:left; width:240px; margin-top:5px;}
.ny_l1 ul{ padding:5px 0;}
.ny_l1 h1 { width:240px; height:34px; color:#fff; font-weight:bold; text-align:center;}
.ny_l1 h1 a{ color:#fff;font-family:"微软雅黑"; font-size:15px; }
.ny_l1 div{ border-bottom:1px solid #eae9e9; border-left:1px solid #eae9e9; border-right:1px solid #eae9e9; padding-bottom:16px;}
.ny_l1 div ul li{ background:url(../images/ny_l1bg.jpg); width:238px; height:30px; text-align:center;line-height:30px;}
.hzhb{ width:457px; height:177px; float:left; overflow:hidden; margin-left:18px; display:inline;border:1px solid #eae9e9; padding:1px; margin-top:5px;}
.hzhb ul li{ width:133px; height:53px; float:left; margin-left:13px!important;margin-left:13px; margin-top:13px;overflow:hidden;}
.sy_tp{ float:left; width:221px; height:177px; margin-left:19px; margin-top:5px;}
.link{ width:960px; margin:0 auto;}
.link ul li{ float:left; padding:15px 10px 15px 0; color:#676767;}

.bottom{ background:url(../images/bottom.jpg) repeat-x; width:100%; height:78px;}
.footer{ width:960px; margin:0 auto; padding-top:5px;}
.footer img{ float:left; margin-left:152px;}
.footer div{ float:left; text-align:center;color:#969696; line-height:30px; padding-left:20px; padding-top:5px;}
.footer div a{ color:#969696;}

/*内页*/
.ny{ width:960px; margin:0 auto;margin-bottom:20px;}
.left{ float:left; width:220px;}
.ny_l2{ float:left; width:220px;}
.ny_l2 h1 { background:url(../images/ny_l2.jpg) center; width:220px; height:24px; color:#fff; font-weight:bold; text-align:center; padding-top:6px;}
.ny_l2 h1 a{ color:#fff;font-family:"微软雅黑"; font-size:15px; }
.ny_l2 div{ border-bottom:1px solid #eae9e9; border-left:1px solid #eae9e9; border-right:1px solid #eae9e9; padding-bottom:10px;}
.ny_l2 div ul{ padding:8px 0;}
.ny_l2 div ul li{ background:url(../images/ny_l1bg.jpg) center; width:218px; height:30px; text-align:center; line-height:27px;}
.ny_tp{ float:left; width:220px; height:177px; margin-top:15px; text-align:center;}
.right{ float:left; width:726px; margin-left:10px;border:1px solid #eae9e9; min-height:400px;}
.right h1{ background:url(../images/ny_r.jpg) no-repeat; width:701px; height:39px; line-height:27px; color:#59a337;font-size:14px; font-weight:bold;padding-left:25px;color:#59a337;font-family:"微软雅黑";}
.right h1 span{ float:right; font-size:12px; color:#676767; font-weight:normal; padding-right:20px;}
.right .cont{padding:10px 10px 10px 10px; line-height:22px; color:#676767}
.ny_news ul{ padding-top:5px;}
.ny_news ul li{ line-height:30px; height:30px;}
.ny_news ul li span{ float:right; margin-right:25px;}
.ny_news .fgx{ height:1px; border-bottom:1px dashed #e1e1e3; }
.ny_image ul{ padding-top:5px;}
.ny_image ul li{ line-height:30px; width:186px; float:left; text-align:center; margin-left:35px; }
.ny_image ul li img{ margin-bottom:10px; padding:2px; border:1px solid #eae9e9;}
.ny_image2 ul li{ line-height:30px; width:133px; float:left; text-align:center; margin-left:35px; }
.ny_image2 ul li img{ margin-bottom:5px; padding:2px; border:1px solid #eae9e9;}

/*分页*/
.dede_pages{
	width:700px; text-align:center;
}
.dede_pages ul{
	float:left;
	padding:12px 0px 12px 16px;
}
.dede_pages ul li{
	float:left;
	font-family:Tahoma;
	line-height:17px;
	margin-right:6px;
	border:1px solid #E9E9E9;
}
.dede_pages ul li a{
	float:left;
	padding:2px 4px 2px;
	color:#555;
	display:block;
}
.dede_pages ul li a:hover{
	color:#690;
	text-decoration:none;
	padding:2px 4px 2px;
}
.dede_pages ul li.thisclass,
.dede_pages ul li.thisclass a,.pagebox ul li.thisclass a:hover{
	background-color:#F8F8F8;
	padding:2px 4px 2px;
	font-weight:bold;
}
.dede_pages .pageinfo{
	line-height:21px;
	padding:12px 10px 12px 16px;
	color:#676767;
}
.dede_pages .pageinfo strong{
	color:#555;
	font-weight:normal;
	margin:0px 2px;
}
.linkbox{ width:680px; float:left; border-bottom:1px dashed #e1e1e3; padding:10px;}
.linkbox h3 a{ font-size:16px; font-family:"微软雅黑";}
.linkbox ul li { float:left; padding:10px 20px;}

#files{width:218px; padding:10px 0;}
.tree,.tree ul,.tree li{list-style:none;margin:0;padding:0;zoom: 1;}
.tree ul{}
.tree li a{color:#000;padding:0 0 5px 14px;display:block;text-decoration:none;border:1px dashed #fff;}
.tree li a.tree-parent{background:url(../images/icon-folder-open.gif) 5px 50% no-repeat;}
.tree li a.tree-parent-collapsed{background:url(../images/icon-folder.gif) 5px 50% no-repeat;}
.cplm{ background:url(../images/cplm.jpg) no-repeat;}
.tree ul.tree-group-collapsed{display:none;}
.tree li a:hover,.tree li a.tree-parent:hover,.tree li a:focus,.tree li a.tree-parent:focus,.tree li a.tree-item-active{color:#F00;}
.tree li a:focus,.tree li a.tree-parent:focus,.tree li a.tree-item-active{ color:#f00;}
.cplm{background:url(../images/ny_l1bg.jpg)  no-repeat; width:218px;text-align:center; line-height:27px;}
.ny_l5{ float:left; width:220px;}
.ny_l5 h1 { background:url(../images/ny_l2.jpg) center; width:220px; height:24px; color:#fff; font-weight:bold; text-align:center; padding-top:6px;}
.ny_l5 h1 a{ color:#fff;font-family:"微软雅黑"; font-size:15px; }
.ny_l5 div{ border-bottom:1px solid #eae9e9; border-left:1px solid #eae9e9; border-right:1px solid #eae9e9; padding-bottom:10px;}
.ny_news ul li a{ float:left; margin-left:15px;}