<div class="ny">
<div class="left">
        <include file="Home:newscate" />
    <p>&nbsp;</p>
    <include file="Home:hotnews" />
  	<include file="Home:contact" />	
</div>  
    <div class="right">
      <h1><span>您当前的位置：<a href="{:U('Index/index')}">主页</a> > </span>新闻动态</h1>
        <div class="cont">
        <div class="ny_news">
          <ul>
          	<volist name="list" id="r">
          		<li><span>[{$r.createtime|toDate=###,'Y-m-d'}]</span><a href="{$r.url}">·{$r.title}</a></li>					
	</volist> 
                
            </ul>
        </div>
        <div class="dede_pages"><ul class="pagelist">{$pages}
</ul></div>
        <div style="clear:both;"></div>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>
