<div class="page-news">
      <table border="0" align="center">
      <tr><th class="news-time">日期</th><th class="news-title">新闻标题</th></tr>
      <volist name="list" id="r">

      	<tr><td class="time-list"><span>{$r.createtime|toDate=###,'Y/m/d'}</span></td><td><a href="{$r.url}" title="{$r.title}" target="_blank">{$r.title}</a></td></tr>
					
	</volist> 


      </table>
<!-- <div class="page_list"><div class="list_info">共9个/1页 <span class="disabled">&nbsp;&lt;&lt;&nbsp;</span><span class="disabled">&nbsp;&lt;&nbsp;</span><span class="current">1</span><span class="disabled">&nbsp;&gt;&nbsp;</span><span class="disabled">&nbsp;&gt;&gt;&nbsp;</span></div></div> -->


<div class="page_list">{$pages}</div>
      </div>