<load href="__PUBLIC__/Js/jquery.validate.js"/>


<div class="ny">
<div class="left">
        <include file="Home:productcate" />
		<p>&nbsp;</p>
		<include file="Home:hotnews" />
  		<include file="Home:contact" />
</div>	
    <div class="right">
    	<h1><span>您当前的位置：<a href="{:U('Index/index')}">主页</a> > <a href="{:U('Article/index',array('id'=>3))}">新闻动态</a></h1>
        <div class="cont">
       		<form name="myform" id="myform" action="{:URL('User-Post/insert')}" method="post">
      	<table cellpadding=0 cellspacing=0 class="table_form"  >
      <input type="hidden"  name="catid" value="{$catid}" />
		<input type="hidden"  name="moduleid" value="{$moduleid}" />
		<input type="hidden"  name="lang" value="{$langid}" />
		<volist name="fields" id="r">
		<if condition="!empty($r['status']) && $r['ispost']">
			<tr>
				<td width="100" align="right">{if  $r['required']}<font color="red">*</font>{/if} {if  APP_LANG}{:L($r[field])}{else}{$r.name}{/if}</td>
				<td id="box_{$r['field']}">
				{$r|getform=$form,###}
				</td>
			</tr>
		</if>
		</volist>
		<tr>
				<td width="100"></td>
				<td><INPUT TYPE="submit"  value="{:L(dosubmit)}" class="button" >
		<input TYPE="reset"  value="{:L(cancel)}" class="button"></td>
				</tr>
		</table>
		</form>  
    	</div>
    <div style="clear:both;"></div>
</div>

