<div class="ny_l2">
        	<h1><a href="{:U('Product/index',array('id'=>4))}">产品展示</a></h1>
            <div>
            	<ul> 
                	     <YP:subcat  catid="4">
            <li><a href="{:U('Product/index',array('id'=>$r['id']))}">{$r.catname}</a></li>
          </YP:subcat>        
                	
                </ul>
            </div>
        </div>
