<div class="ny_tp">
  	<ul>
    	<!--<li><a href="{:U('Page/index',array('id'=>8))}"><img src="../Public/images/tp1.jpg" width="216" height="77"  style="margin-bottom:5px;"/></a></li>-->
        <li><a href="{:U('Page/index',array('id'=>20))}"><img src="../Public/images/tp2.jpg" width="216" height="97" /></a></li>
    </ul>
  </div>
