<div class="ny_l2">
        	<h1><a href="{:U('Article/index',array('id'=>1))}">装修污染资讯</a></h1>
            <div>
            	 
                	<table width="200" border="0">
                    <YP:list order="updatetime desc" limit="5" catid="3" name="Article">
            <tr>
                        <td height="25"><a href="{:U('Article/show',array('id'=>$r['id']))}" title="{$r.title}">·{$r.title|str_cut=###,26}</a></td>
                      </tr>
            </YP:list>

                  

                    </table>

          </div>
        </div>
