<div class="ny_l2">
          <h1><a href="{:U('Article/index',array('id'=>1))}">资讯分类</a></h1>
            <div>
              <ul> 

                <YP:subcat  catid="1">
            <li><a href="{:U('Article/index',array('id'=>$r['id']))}">{$r.catname}</a></li>
          </YP:subcat>  
                     
                </ul>
            </div>
        </div>
