<style type="text/css">
<!--
body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.c:link {
  COLOR: #7EB535;
  TEXT-DECORATION: none;
  font-size: 12px;
  line-height: 22px;
  font-weight: normal;
}
.c:visited {
  COLOR: #666666;
  TEXT-DECORATION: none;
  font-size: 12px;
  line-height: 22px;
  font-weight: normal;
  background-position: 123px 48px;
}
.c:hover {
  COLOR: #969696;
  TEXT-DECORATION: none;
  font-size: 12px;
  font-weight: normal;
  line-height: 22px;
}
.ff:link {
  COLOR: #666666;
  TEXT-DECORATION: none;
  font-size: 12px;
  line-height: 22px;
  font-weight: normal;
}
.ff:visited {
  COLOR: #666666;
  TEXT-DECORATION: none;
  font-size: 12px;
  line-height: 22px;
  font-weight: normal;
  background-position: 123px 48px;
}
.ff:hover {
  COLOR: #7EB535;
  TEXT-DECORATION: none;
  font-size: 12px;
  font-weight: normal;
  line-height: 22px;
}
.footer {
  font-size: 12px;
  line-height: 22px;
  font-weight: normal;
  color: #999999;
  text-decoration: none;
}
.style1 {color: #00CC00}
-->
</style>

<table width="100%" height="78"  border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td background="../Public/images/bottom.jpg"><table width="960" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td width="235"><div align="right"><img src="../Public/images/dblogo.gif" width="178" height="53"></div></td>
        <td width="753"><table width="100%"  border="0" cellpadding="0" cellspacing="0">
          
          <tr>
            <td><span class="footer">版权所有:<a href="http://www.ssyhn.com" target=_blank title="长沙十三亿环保科技有限公司">长沙十三亿环保科技有限公司</a></span><span class="footer">  </span></td>
          </tr>
        </table></td>
      </tr>
    </table></td>
  </tr>
</table>