<div class="sycont">
  <div class="sy_sp">
      <h1><a href="#"><img src="../Public/images/spzs.jpg" width="241" height="30" /></a></h1>
        <div><embed src="http://player.youku.com/player.php/sid/XMjI5MjY3MDE2/v.swf" allowFullScreen="true" quality="high" width="240" height="175" align="middle" allowScriptAccess="always" type="application/x-shockwave-flash"></embed></div>
    </div>
    <div class="syxw">
      <h1><a href="{:U('Article/index',array('id'=>1))}"><img src="../Public/images/sy_xw.jpg" width="461" height="30" /></a></h1>
      <div class="newstop">
      <YP:list order="updatetime desc" limit="1" name="Article" posid="1">
    
      <a href="{:U('Article/show',array('id'=>$r['id']))}" target="_blank"><img src="{$r.thumb|thumb=###,106,76,1}" width="106" height="76" /></a><div><h2><a href="{:U('Article/show',array('id'=>$r['id']))}" target="_blank" title="{$r.title}">{$r.title|str_cut=###,38}</a></h2>{$r.description}[<a href="{:U('Article/show',array('id'=>$r['id']))}" target="_blank" title="{$r.title}">查看详情</a>]</div>

      </YP:list>
      </div>
      

        <ul>
          <YP:list order="updatetime desc" limit="2" name="Article">
      
          <li><span>{$r.createtime|date='Y-m-d',###}</span><a href="{:U('Article/show',array('id'=>$r['id']))}" target="_blank" title="{$r.title}">{$r.title}</a></li>
          </YP:list>

        </ul>
  </div>
  <div class="sales">
      <h1><a href="/"><img src="../Public/images/xswl.jpg" width="220" height="30" /></a></h1>
        <div><a href="/" target=_blank title=""><img src="../Public/images/salestp.gif" width="219" height="171" /></a></div>
  </div>
  <div class="ny_l1">
          <h1><a href="/"><img src="../Public/images/ny_l1.jpg"/></a></h1>
            <div>
              <ul> 
             <YP:subcat  catid="4">
            <li><a href="{:U('Product/index',array('id'=>$r['id']))}">{$r.catname}</a></li>
          </YP:subcat>
                
                </ul>
            </div>
        </div>
  <div class="hzhb">
      <h1><a href="{:U('Article/show',array('id'=>$r['id']))}"><img src="../Public/images/hzhb.jpg" width="457" height="32" /></h1>
      <ul>
        <YP:link  typeid="2"  linktype="2" >
        <li><a href="{$r['siteurl']}" target="_blank" title="{$r['name']}"><img src="{$r['logo']}" alt="{$r['name']}"></a></li>
      </YP:link>
       
        </ul>
  </div>
  <div class="sy_tp">
    <ul>
      <!--<li><a href="/" target=_blank ><img src="../Public/images/tp1.jpg" width="216" height="77"  style="margin-bottom:5px;"/></a></li>-->
        <li><a href="/" target=_blank title="全国连锁，专业室内甲醛检测治理"><img src="../Public/images/tp2.jpg" width="216" height="97" /></a></li>
    </ul>
  </div>
</div>
<div style="clear:both;"></div>
<div class="link">
  <ul>
      <li>友情链接：</li>
      <YP:link  typeid="2"  linktype="1" >
        <li><a href="{$r['siteurl']}" target="_blank" title="{$r['name']}">{$r['name']}</a></li>
      </YP:link>
      

    </ul>
</div>
