<div class="ny">
<div class="left">
        <include file="Home:productcate" />
		<p>&nbsp;</p>
		<include file="Home:hotnews" />
  		<include file="Home:contact" />
</div>	
    <div class="right">
    	<h1><span>您当前的位置：<a href="{:U('Index/index')}">主页</a> > <a href="{:U('Article/index',array('id'=>3))}">{$title}</a></h1>
        <div class="cont">
       	  <table width="100%" border="0" cellspacing="0" cellpadding="0" class="xwxx">
  <tr>
    <td align="center" style="font-family:'微软雅黑'; font-size:16px;color:#59a337">{$title}</td>
  </tr>
  <tr>
    <td align="center">
   </td>
  </tr>
  <tr>
    <td style="padding:0px 10px;">{$content}
</td>
  </tr>
  <tr>
    <td style="padding:0px 10px;">{$pages}
</td>
  </tr>
</table>
<div class='fgx'>--------------------------------------------------------------------------------------------------------------</div>
<!-- Baidu Button BEGIN -->
<div id="bdshare" class="bdshare_t bds_tools get-codes-bdshare">
<span class="bds_more">分享到：</span>
<a class="bds_tqq">腾讯微博</a>
<a class="bds_tsina">新浪微博</a>
<a class="bds_qzone">QQ空间</a>
<a class="bds_t163">网易微博</a>
<a class="bds_renren">人人网</a>
</div>
<script type="text/javascript" id="bdshare_js" data="type=tools&amp;uid=6545991" ></script>
<script type="text/javascript" id="bdshell_js"></script>
<script type="text/javascript">
document.getElementById("bdshell_js").src = "http://bdimg.share.baidu.com/static/js/shell_v2.js?cdnversion=" + Math.ceil(new Date()/3600000);
</script>
<!-- Baidu Button END --><br  /><br  />
      </div>
    </div>
    <div style="clear:both;"></div>
</div>