<div class="ny">
<div class="left">
        <include file="Home:productcate" />
		<p>&nbsp;</p>
		<include file="Home:hotnews" />
  		<include file="Home:contact" />
</div>	
    <div class="right">
    	<h1><span>您当前的位置：<a href="{:U('Index/index')}">主页</a> > <a href="{:U('Article/index',array('id'=>3))}">产品展示</a></h1>
        <div class="cont">
        <div class="ny_image">
        	<ul>
        		<volist name="list" id="r">
        			<li><a href="{$r.url}"><img src="{$r['thumb']|thumb}" width="186" height="186" /></a><a href="{$r.url}">{$r.title}</a></li>

		</volist>
            </ul>
        </div>
        <div style="clear:both;"></div>
        <div class="dede_pages"><ul class="pagelist">{$pages}
</ul></div>
        <div style="clear:both;"></div>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>